* {
    margin: 0;
}

body {
    background-color: #f9f911;
    color: #1f1f1f;
    font-family: monaco, menlo, monospace;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 90vh;
    margin: 3vh 20px;
}
@media (max-width: 580px) {
    body {
        font-size: 14px;
        min-height: 88vh;
        margin: 2vh 20px
    }
}
@media (max-width: 400px) {
    body {
        font-size: 13.2px;
        min-height: 85vh;
    }
}

header {
    max-width: 450px;
}
header > *:not(img) {
    margin-bottom: 1rem;
}
@media (max-width: 400px) {
    header > *:not(img) {
        margin-bottom: 0.7rem;
    }
}
header p {
    line-height: 1.4;
}

header img {
    max-width: 120px;
}
@media (max-width: 580px) {
    header img {
        max-width: 90px;
    }
}
header img:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(3px, 0, 0);
    }
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 2.5em;
}
@media (max-width: 580px) {
    h1 {
        font-size: 2.2em;
    }
}

a:hover {
    font-style: italic;
}

.chat-window {
    background-color: #fff;
    box-shadow: 0 3px 100px 0 rgba(79, 79, 0, 0.05);
    border-radius: 15px;
    width: 550px;
    height: 38vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}
.chat-window::-webkit-scrollbar {
    display: none;
}
@media (max-width: 580px) {
    .chat-window {
        width: 380px;
        height: 33vh
    }
}
@media (max-width: 450px) {
    .chat-window {
        width: 310px;
        height: 31vh
    }
}

.response-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.response-container p {
    font-family: monaco, menlo, monospace;
    font-size: 0.84em;
    line-height: 1.6;
    margin: 7px 10px;
    padding: 16px;
    max-width: max-content;
    text-align: left;
    border-radius: 25px;
}
@media (max-width: 580px) {
    .response-container p {
        margin: 5px 8px;
    }
}
.response-container p.prompt {
    align-self: flex-end;
    background-color: aquamarine;
}
.response-container p.response {
    align-self: flex-start;
    background-color: bisque;
}
.response-container p.loading-indicator {
    color: #938474;
}
.response-container p.loading-indicator::after {
    content: "...";
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 1000ms infinite;
    width: 0;
}
@keyframes ellipsis {
    to { width: 2.2em; }
}

fieldset {
    border: none
}
input {
    cursor: pointer;
    font-family: monaco, menlo, monospace;
    font-size: 0.72em;
    padding: 12px;
    background-color: aqua;
    border: none;
    border-radius: 15px;
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 400ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="button"] {
    font-weight: bold;
    color: #5f5f00;
    text-decoration: underline;
    padding: 8px;
    background-color: transparent !important;
}
input[type="text"] {
    margin-top: -4px;
    cursor: text;
    background-color: #bcffff;
}
input[type="submit"] {
    font-size: 1em;
    padding: 16px;
}
input:hover {
    transform: scale(1.05);
}
form[disabled] {
    cursor: not-allowed;
}
form[disabled] input {
    pointer-events: none;
    background-color: #b2e9e9;
}