training/data
training/output

backend/model/checkpoint
backend/functions/dist

__pycache__
.env
.temp

# Local Netlify folder
.netlify

# Local .terraform directories
**/.terraform/

# tf state and var files
terraform.tfvars
*.tfstate
*.tfstate.*

**/millzbot-*.json

.DS_STORE