training/data
training/output

server/model/checkpoint
server/functions/dist

__pycache__
.env
.temp
# Local Netlify folder
.netlify

# Local .terraform directories
**/.terraform/

# .tfstate files
terraform.tfvars
*.tfstate
*.tfstate.*

**/millzbot-*.json

.DS_STORE