GCP_PROJECT_NAME = "millzbot"
GCP_REGION = "europe-west2"
GCP_CREDENTIALS_FILE_NAME = "[XXXXXXXXX].json"

# Cloud Run Server
DOCKER_IMAGE_URL =
REQUEST_TOKEN =

# Slack
SLACK_BOT_NAME = 
SLACK_BOT_USER_TOKEN =
SLACK_CLIENT_ID =
SLACK_CLIENT_SECRET =
SLACK_SIGNING_SECRET =
STAGE =

# Twitter
TWITTER_CONSUMER_KEY =
TWITTER_CONSUMER_SECRET =
TWITTER_ACCESS_KEY =
TWITTER_ACCESS_SECRET =
